body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx5sr5YBXRpBkqlL7q1lKMqBeU16l4sKpRVVTk5J58__ELunc-ldDFiEXZ9DejElzBaKg&usqp=CAU") ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    height: 200px;
    background: linear-gradient(to bottom, red, purple) ;
    justify-content:space-between;
    display: flex;
    }
    
.logo{
    display: flex;
    background-color: blueviolet;
    border: 6px black solid;
    height: 300px;
    display: block;
    margin:auto;
    }

main{
    text-align: center;
}

h1{
    font-size: 65px;
}
h2{
    background-color: rgb(81, 218, 165);
    font-size: 40px;
}
h3{
    background-color: rgb(49, 243, 81);
    font-size: 28px;
    font-weight: 900;
}

p{
    color: rgb(29, 3, 36);
    font-size: large;
    font-weight: 900;
}

.diagrama{
    height: 200px;
}

.calendario{
    height: 200px;
}

.circular{
    height: 300px;
}

.barras{
    height: 300px;
}

.video{
    height: 250px;
}

ul{
    display: inline;
    font: size 150%;
    font: weight 900px;;
    list-style: none;
}

.lulu{
    display: inline;
    padding: 2px 7px 2px 7px;
}

li{
    font-size: 130%;
}

.menu{
    font-size:large;
    font-weight: 900;
    text-transform: uppercase;
}

.slide{
    margin-top: 1px;
}

.slide img{
    height: 300px;
    width: 20px;
}

.beginning{
    display: inline-flex;
    position: static;
}

.mcr{
    height: 300px;
    object-fit: contain;
}
