body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx5sr5YBXRpBkqlL7q1lKMqBeU16l4sKpRVVTk5J58__ELunc-ldDFiEXZ9DejElzBaKg&usqp=CAU") ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
}

header{
    height: 200px;
    background: linear-gradient(to bottom, rgb(211, 93, 226), rgb(226, 171, 226)) ;
    }
    
.logo{
    display: flex;
    position: absolute;
    left: 300px;
    background-color: blueviolet;
    height: 300px;
    margin:auto;
    }

main{
    text-align: center;
}

h1{
    font-size: 65px;
}
h2{
    background-color: rgb(81, 218, 165);
    font-size: 40px;
    border: 2px black solid;
}
h3{
    background-color: rgb(49, 243, 81);
    font-size: 28px;
    font-weight: 900;
}

p{
    color: rgb(29, 3, 36);
    font-size: large;
    font-weight: 900;
}

.diagrama{
    height: 200px;
}

.calendario{
    height: 200px;
}

.circular{
    height: 300px;
}

.barras{
    height: 300px;
}

.video{
    height: 250px;
}

.menu{
    font-size:large;
    font-weight: 900;
    text-transform: uppercase;
}

.beginning{
    display: inline-flex;
    position: static;

}

.mcr{
    height: 300px;
    object-fit: contain;

}

.carouselUno {
    height: 300px;
    width: 600px;
    position:relative;
    left: 300px;
}

.carouselDos {
    height: 300px;
    width: 600px;
    position: relative;
    right: 0px;
}

footer {
    background-color: rgb(228, 19, 36);
}

.navbar{
    font-size: 30px;
}
